#e234 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;

  div[data-type="Paragraph"] {
    grid-column: span 5;

    div {
      font-weight: 600;
      color: #102a43 !important;
      font-size: 0.833rem !important;
    }
  }

  > div[data-type="Input Fields"] {
    &:nth-of-type(3) {
      grid-column: span 5;
    }

    &:nth-of-type(4) {
      grid-column: 1 / 3;
    }

    &:nth-of-type(5) {
      grid-column: 3 / 4;
    }

    &:nth-of-type(6) {
      grid-column: 4 / 6;
    }
  }
}
