html {
  font-size: 112.5%; /* 18px */
  box-sizing: border-box;

  @media (max-width: 999px) {
    font-size: 100%;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: var(--color__neutral--800) !important;
  line-height: 1.75;
  font-family: var(--fontFamily__base);
  font-weight: 400;
  letter-spacing: -0.01em;
  font-size: var(--fontSize__base);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-font-kerning: auto;
  font-kerning: auto;
}
