.ft--theme--Button--primary:not([data-type="Button"]) {
  background-color: var(--color__blue) !important;
  font-size: var(--fontSize__base) !important;
  color: var(--color__blue--50) !important;
  border: 2px solid var(--color__blue) !important;
  font-weight: 600 !important;
  border-radius: 6px !important;
  line-height: 1 !important;
  padding: 16px 28px !important;
  display: inline-block !important;
  cursor: pointer !important;
  text-align: center !important;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out !important;

  &:hover {
    background-color: var(--color__blue--800) !important;
  }

  &:focus {
    background-color: var(--color__blue--900) !important;
  }

  // &--secondary {
  //   background-color: #fff;
  //   border-color: var(--color__neutral--200);
  //   color: var(--color__neutral--900);

  //   &:hover {
  //     border-color: var(--color__neutral--900);
  //   }
  // }
}
