div[data-type="Button"] {
  width: fit-content !important;
  min-width: 180px !important;

  button {
    font-family: var(--fontFamily__base) !important;
    font-size: var(--fontSize__base) !important;
    font-weight: 600 !important;
    border-radius: 6px !important;
    line-height: 1 !important;
    padding: 16px 28px !important;
    display: inline-block !important;
    cursor: pointer !important;
    text-align: center !important;
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out !important;

    &.ft--theme--Button--primary {
      background-color: var(--color__blue) !important;
      color: var(--color__blue--50) !important;
      border: 2px solid var(--color__blue) !important;

      &:hover {
        background-color: var(--color__blue--800) !important;
        border-color: var(--color__blue--800) !important;
      }

      &:focus {
        background-color: var(--color__blue--900) !important;
        border-color: var(--color__blue--900) !important;
        border-radius: 6px !important;
      }
    }

    &.ft--theme--Button--secondary {
      background-color: var(--color__blue--100) !important;
      color: var(--color__blue--900) !important;
      border: 2px solid var(--color__blue--100) !important;

      &:hover {
        background-color: var(--color__blue--200) !important;
        border-color: var(--color__blue--200) !important;
      }

      &:focus {
        background-color: var(--color__blue--300) !important;
        border-color: var(--color__blue--300) !important;
        border-radius: 6px !important;
      }
    }
  }
}
// &--secondary {
//   background-color: #fff;
//   border-color: var(--color__neutral--200);
//   color: var(--color__neutral--900);

//   &:hover {
//     border-color: var(--color__neutral--900);
//   }
// }
