// input styles
.ft--theme--FormField--text input,
.ft--theme--FormField--text [role="textbox"],
.ft--theme--FormField--text input::placeholder {
  color: var(--color__neutral--900) !important;

  &[readonly] {
    color: var(--color__neutral--600) !important;
  }
}

// input wrapper styles
div.ft--theme--FormField-elRoot {
  border: none !important;
  border-radius: 6px !important;
  background: var(--color__neutral--100) !important;
  font-size: var(--fontSize__base--sm) !important;
  height: 48px !important;
  line-height: 48px !important;
  padding: 0 20px !important;
  width: 100% !important;
  outline: 0 !important;

  + fieldset {
    display: none;
  }

  &[aria-invalid="true"] {
    border: 1px solid var(--color__error--500);
  }

  div[class^="MuiAutocomplete-endAdornment"] {
    top: 0 !important;
    right: 10px !important;
  }

  &.Mui-error {
    border: 1px solid var(--color__secondary-red--300) !important;
  }
}

label.ft--label,
label.ft--label.ft--shrink {
  font-weight: 600 !important;
  font-size: var(--fontSize__base--sm) !important;
  color: var(--color__neutral--900) !important;
  font-family: var(--fontFamily__base) !important;
  top: -5px;

  & ~ p.ft-helper-txt {
    &.Mui-error {
      font-size: var(--fontSize__base--sm) !important;
      color: var(--color__secondary-red--500) !important;
    }
  }
}

div.ft--theme--FormField--fileupload {
  width: 100% !important;

  &.fterror p.ft-helper-txt {
    font-size: var(--fontSize__base--sm) !important;
    color: var(--color__secondary-red--500) !important;
  }

  > div {
    background: none !important;

    > div {
      border-color: var(--color__neutral--200) !important;
      border-radius: 10px !important;
    }

    .ft--label {
      font-weight: 600 !important;
      color: var(--color__neutral--900) !important;
      margin: 0 auto !important;
    }
  }

  .ft--FormField--dropzone {
    width: 100% !important;
  }

  .ft--theme--FormField--dropzoneInfo {
    width: 100% !important;
    text-align: center !important;
    font-family: var(--fontFamily__base) !important;
    color: var(--color__neutral--600);
    bottom: 10px;
  }

  .ft--icon {
    path {
      fill: var(--color__blue) !important;
    }
  }

  .ft--textContainer {
    grid-template-areas:
      ". . ."
      ". icon ."
      "label label label";
    padding: 3rem 2rem;
  }

  // attached file(s)
  &.ftsuccess {
  }
}
