div.ft--theme--FormField-elRoot {
  border: none !important;
  border-radius: 6px !important;
  background: var(--color__neutral--100) !important;
  font-size: var(--fontSize__base--sm) !important;
  height: 48px !important;
  line-height: 48px !important;
  padding: 0 20px !important;
  width: 100% !important;
  outline: 0 !important;

  + fieldset {
    display: none;
  }

  &[aria-invalid="true"] {
    border: 1px solid var(--color__error--500);
  }

  div[class^="MuiAutocomplete-endAdornment"] {
    top: 0 !important;
    right: 10px !important;
  }
}

label.ft--label,
label.ft--label.ft--shrink {
  font-weight: 600 !important;
  font-size: var(--fontSize__base--sm) !important;
  color: var(--color__neutral--900) !important;
  font-family: var(--fontFamily__base) !important;
  color: red !important;

  & ~ p.ft-helper-txt {
    &.Mui-error {
      color: red;
    }
  }
}

div.ft--theme--FormField--fileupload {
  width: 100% !important;

  > div {
    background: none !important;

    > div {
      border-color: var(--color__neutral--200) !important;
      border-radius: 10px !important;
    }

    .ft--label {
      font-weight: 600 !important;
      color: var(--color__neutral--900) !important;
    }
  }

  .ft--FormField--dropzone {
    width: 100% !important;
  }

  .ft--theme--FormField--dropzoneInfo {
    width: 100% !important;
    text-align: center !important;
    font-family: var(--fontFamily__base) !important;
    color: var(--color__neutral--600);
  }

  // attached file(s)
  &.ftsuccess {
  }
}
