input[type="text"],
input[type="email"],
input[type="tel"] {
  border: none;
  border-radius: 6px;
  background: var(--color__neutral--100);
  font-size: var(--fontSize__base--sm);
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  width: 100%;
  outline: 0;

  + fieldset {
    display: none;
  }

  &[aria-invalid="true"] {
    border: 1px solid var(--color__error--500);
  }
}

label.ft--label {
  font-weight: 600 !important;
  color: var(--color__neutral--900) !important;

  & ~ p.ft-helper-txt {
    &.Mui-error {
      color: red;
    }
  }
}
