// fix weird overflow
.ft--control--root {
  padding-right: 1px !important;
}

// remove default border from containers
.ft--theme--Stack--root {
  border: none !important;
}

// remove top from absolute form
div[data-type="Form"] {
  top: 0 !important;
}

// hide margin and padding around page
.ft--s1--stripContainerRoot {
  margin: 0 !important;
}

.ft--theme--Stack--root {
  padding: 0 !important;
}

// change default width of inputs
.ft--theme--FormField--text,
.ft--theme--FormField--select {
  width: 100% !important;
}

// hide empty divs
.stack-element-separator-row {
  display: none !important;
}

// remove default margin on parent elements
div[data-type="Title"],
div[data-type="Heading"],
div[data-type="Subhead"] {
  margin: 0 !important;
}

// remove min height on select (and others?)
.ft--theme--FormField--select .inputRoot {
  height: auto !important;
}
