// change default width of inputs
.ft--theme--FormField--text {
  width: 100% !important;
}

// hide empty divs
.stack-element-separator-row {
  display: none !important;
}

div[data-type="Subhead"] {
  margin: 0 !important;
}
