@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");

h1,
h2,
h3,
h4,
h5,
.ft--theme--Typography--title,
.ft--theme--Typography--h1,
.ft--theme--Typography--subhead {
  margin: 3rem 0 1.38rem;
  font-family: var(--fontFamily__heading);
  font-weight: 700;
  line-height: 1.3;
  color: var(--color__neutral--900);
}

h1,
.ft--theme--Typography--title {
  margin-top: 0;
  font-size: var(--fontSize__h1);
}

h2,
.ft--theme--Typography--h1 {
  font-size: var(--fontSize__h2);
}

h3 {
  font-size: var(--fontSize__h3);
}

h4,
.ft--theme--Typography--subhead {
  font-size: var(--fontSize__h4);
}

h5 {
  font-size: var(--fontSize__h5);
}

p {
  margin-bottom: 1rem;
}
