@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");

h1,
h2,
h3,
h4,
h5,
div.ft--theme--Typography--title:not([data-type="Title"]),
div.ft--theme--Typography--h1:not([data-type="Heading"]),
div.ft--theme--Typography--subhead:not([data-type="Subhead"]) {
  margin: 3rem 0 1.38rem !important;
  font-family: var(--fontFamily__heading) !important;
  font-weight: 700 !important;
  line-height: 1.3 !important;
  color: var(--color__neutral--900) !important;
}

h1,
div.ft--theme--Typography--title:not([data-type="Title"]) {
  margin-top: 0 !important;
  font-size: var(--fontSize__h1) !important;
}

h2,
div.ft--theme--Typography--h1:not([data-type="Heading"]) {
  font-size: var(--fontSize__h2) !important;
}

h3 {
  font-size: var(--fontSize__h3) !important;
}

h4,
div.ft--theme--Typography--subhead:not([data-type="Subhead"]) {
  font-size: var(--fontSize__h4) !important;
}

h5 {
  font-size: var(--fontSize__h5) !important;
}

p {
  margin-bottom: 1rem !important;
}
