h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--fontFamily__heading);
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.05em;
  color: var(--color__neutral--900);

  .subheader-temp {
    letter-spacing: 0;
  }
}

h1 {
  margin-top: 0;
  font-size: var(--fontSize__h1);
}

h2 {
  font-size: var(--fontSize__h2);
}

h3 {
  font-size: var(--fontSize__h3);
}

h4 {
  font-size: var(--fontSize__h4);
}

h5 {
  font-size: var(--fontSize__h5);
}

p {
  margin-bottom: 1rem;
}

.subheader-temp {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: var(--fontSize__base--xs);
  text-transform: uppercase;
  display: inline-block;
  line-height: 1;
  background-color: var(--color__yellow--100);
  color: var(--color__yellow--900);
  padding: 5px 10px;
  border-radius: 11px;

  &.blue {
    background-color: var(--color__blue--50);
    color: var(--color__blue--900);
  }
}
