#appointment-form {
  // labels
  label {
    &.ft--label {
      font-size: var(--fontSize__base) !important;
    }
  }

  #e54,
  #e57,
  #e59 {
    display: flex;
    justify-content: space-between;

    @media (max-width: 400px) {
      justify-content: center;
      flex-direction: column;
      row-gap: 5px;

      div[data-type="Button"] {
        width: 100% !important;
      }
    }

    > div[data-type="Button"]:last-of-type {
      margin-left: auto !important;

      @media (max-width: 400px) {
        margin: 0 auto !important;
      }
    }
  }

  // step 1
  #e53 {
    div[role="radiogroup"] {
      margin-top: 30px !important;
      row-gap: 5px !important;

      @media (max-width: 400px) {
        grid-template-columns: 1fr !important;
      }
    }
  }

  // step 2
  #e58 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
    min-height: 400px;

    @media (max-width: 400px) {
      grid-template-columns: 1fr !important;
    }
  }

  // step 3
  #e60 {
    .ft--theme--FormField--radio {
      margin-top: 10px !important;
    }
  }

  // fields
  div.ft--theme--FormField-elRoot {
    background: #fff !important;
  }

  .MuiPickersDatePickerRoot-toolbar-373 {
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row !important;
    align-items: center !important;
    height: auto !important;
  }

  // remove date margin
  h4 {
    margin: 0 !important;
    font-size: 20px !important;
  }
}
