#appointment-form {
  #e53 {
    label.ft--label {
      font-size: var(--fontSize__base) !important;
    }

    div[role="radiogroup"] {
      margin-top: 30px !important;
      row-gap: 5px !important;
    }
  }

  #e54,
  #e57,
  #e59 {
    margin-top: 30px !important;
    display: flex;
    justify-content: space-between;

    > div[data-type="Button"] {
      margin-left: auto !important;
    }
  }

  // step 2
  #e58 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
  }

  // fields
  div.ft--theme--FormField-elRoot {
    background: #fff !important;
  }
}
