#candidate-application-form {
  // subheader
  .ft--theme--Typography--subhead {
    font-size: var(--fontSize__h5) !important;
  }

  // paragraph
  .ft--theme--Typography--p {
    color: var(--color__neutral--600) !important;
  }

  // text area
  .ft--theme--FormField--textarea-form-control {
    min-height: 100px !important;
  }

  // button auto-fit containers
  #e41,
  #e43,
  #e47,
  #e51,
  #e54,
  #e58,
  #e62 {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

    @media (max-width: 700px) {
      row-gap: 5px;
      flex-direction: column;

      div[data-type="Button"] {
        width: 100% !important;
      }
    }

    > div[data-type="Button"]:last-of-type {
      margin-left: auto !important;

      @media (max-width: 700px) {
        margin-left: 0 !important;
      }
    }
  }

  // grid
  #e70 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 700px) {
      display: block;
    }

    > div[data-type="Auto Fit Container"]:nth-of-type(1) {
      grid-column: span 2;
    }

    .ft--theme--Typography--subhead {
      font-size: 18px !important;
    }
  }
}
