#patient-referral {

  #e70, #e37, #e47, #e20 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;

    @media (max-width: 768px) {
      display: flex !important;
      flex-direction: column !important;

      div[data-type="Button"] {
        width: 100% !important;
      }
    }
  }

  //paragraph grid
  div[data-type="Paragraph"], div[data-type="Subhead"] {
    grid-column: span 2;
    margin: 0;
    font-weight: 600;
    color: #102a43 !important;
    font-size: 1rem !important;
  }

  div[data-type="Paragraph"] {
    padding-top: 10px !important;
  }

  //submit button on own line
  div[data-type="Button"].ft--theme--Button--primary {
    grid-column: span 2;
  }
  

}
  