// div[data-page="63e27e06eed0df7e7d466584"] {
#registration-form {
  // resets
  // remove margin top from subheaders
  div[data-type="Subhead"] {
    .ft--theme--Typography--subhead {
      margin-top: 0 !important;
    }
  }

  // containers
  #e18,
  #e218,
  #e219,
  #e220,
  #e221,
  #e222,
  #e223,
  #e224,
  #e225,
  #e226,
  #e227,
  #e228,
  #e230,
  #e236 {
    display: grid !important;
    grid-template-columns: 1fr 2fr !important;
    column-gap: 70px !important;
    margin-bottom: 50px;
    // fix weird overflow
    padding-top: 5px !important;

    @media (max-width: 800px) {
      grid-template-columns: 1fr !important;
    }
  }

  // inner containers
  #e184,
  #e186,
  #e188,
  #e190,
  #e193,
  #e196,
  #e198,
  #e201,
  #e203,
  #e207,
  #e209,
  #e211,
  #e214,
  #e238 {
    display: grid;
    row-gap: 20px;
    column-gap: 10px;
  }

  // button placement
  #e191,
  #e195,
  #e200,
  #e205,
  #e213 {
    display: flex;

    @media (max-width: 450px) {
      display: block;
    }
  }

  // step 1 fields container
  #e184 {
    grid-template-columns: 1fr 1fr;

    @media (max-width: 450px) {
      grid-template-columns: 1fr;
    }

    // registration id field
    .ft--e19--root {
      grid-column: span 2;

      @media (max-width: 450px) {
        grid-column: auto;
      }
    }
  }

  // step 1 button fix
  div[data-type="Button"].ft--theme--Button--primary,
  div[data-type="Button"].ft--theme--Button--primary:active,
  .ftb-resizers.size--fix:active:not(.ft--theme--Section--root):not(
      .ft--theme--Strip--root
    ):not(.ft--theme--Button--secondary),
  .ftb-resizers:active:not(.ft--theme--Section--root):not(
      .ft--theme--Strip--root
    ):not(.ft--theme--Button--secondary) {
    margin-left: auto !important;
  }

  @media (max-width: 450px) {
    div[data-type="Button"].ft--theme--Button--primary,
    div[data-type="Button"].ft--theme--Button--primary:active,
    div[data-type="Button"].ft--theme--Button--secondary,
    div[data-type="Button"].ft--theme--Button--secondary:active,
    div[data-type="Button"].ftb-resizers.size--fix:active:not(
        .ft--theme--Section--root
      ):not(.ft--theme--Strip--root),
    div[data-type="Button"].ftb-resizers:active:not(
        .ft--theme--Section--root
      ):not(.ft--theme--Strip--root) {
      width: 100% !important;
      margin: 20px 0 5px 0 !important;
    }
  }

  // button container
  .ft--e233--root {
    grid-column: span 2 !important;

    @media (max-width: 800px) {
      grid-column: auto !important;
    }
  }

  // additional patient information
  #e190 {
    grid-template-columns: 1fr 1fr;

    @media (max-width: 450px) {
      grid-template-columns: 1fr;
    }

    div.ft--e39--root,
    div.ft--e40--root {
      grid-column: span 2;

      @media (max-width: 450px) {
        grid-column: auto;
      }
    }
  }

  // insurance information
  #e193 {
    grid-template-columns: 1fr 1fr;

    @media (max-width: 450px) {
      grid-template-columns: 1fr;
    }

    div.ft--e46--root,
    div.ft--e57--root,
    div.ft--e70--root,
    div.ft--e80--root,
    div.ft--e233--root,
    div.ft--e243--root {
      grid-column: span 2;

      @media (max-width: 450px) {
        grid-column: auto;
      }
    }
  }

  // additional insurance
  #e198 {
    grid-template-columns: 1fr 1fr;

    @media (max-width: 450px) {
      grid-template-columns: 1fr;
    }

    div.ft--e70--root {
      grid-column: span 2;

      @media (max-width: 450px) {
        grid-column: auto;
      }
    }
  }

  // communicating with you
  #e203 {
    grid-template-columns: 1fr 1fr;

    @media (max-width: 450px) {
      grid-template-columns: 1fr;
    }

    div.ft--e85--root,
    div.ft--e234--root {
      grid-column: span 2;

      @media (max-width: 450px) {
        grid-column: auto;
      }
    }
  }

  // emergency contact
  #e201 {
    grid-template-columns: 1fr 1fr;

    @media (max-width: 450px) {
      grid-template-columns: 1fr;
    }
  }

  // communicating with others
  #e211 {
    grid-template-columns: 1fr 1fr;

    @media (max-width: 450px) {
      grid-template-columns: 1fr;
    }

    div.ft--e80--root,
    div.ft--e175--root,
    div.ft--e244--root {
      grid-column: span 2;

      @media (max-width: 450px) {
        grid-column: auto;
      }
    }

    div[data-type="Button"] {
      &.ft--theme--Button--primary,
      &.ft--theme--Button--secondary {
        margin: 0 !important;

        button {
          padding: 1px 10px !important;
          margin: 0 !important;
        }
      }
    }

    #e257 {
      display: flex;
      align-items: center;
      column-gap: 5px;
    }
  }

  // primary care physician
  #e209 {
    grid-template-columns: 1fr 1fr;

    @media (max-width: 450px) {
      grid-template-columns: 1fr;
    }
  }

  // agreement of financial responsibility
  #e207 {
    grid-template-columns: 1fr 1fr;

    @media (max-width: 450px) {
      grid-template-columns: 1fr;
    }

    div.ft--pos--e145,
    div.ft--pos--e146 {
      grid-column: span 2;

      @media (max-width: 450px) {
        grid-column: auto;
      }
    }
  }

  // you're almost done
  #e238 {
    grid-template-columns: 1fr 1fr;

    @media (max-width: 450px) {
      grid-template-columns: 1fr;
    }

    div.ft--e145--root,
    div.ft--e146--root {
      grid-column: span 2;

      @media (max-width: 450px) {
        grid-column: auto;
      }
    }
  }

  // adjust select input heights
  .ft--e94--root.ft--theme--FormField--select .inputRoot {
    min-height: auto !important;
  }

  // label position adjustments
  #e74,
  #e84 {
    > label + div {
      margin-top: 36px !important;
    }
  }

  #e40 > label + div {
    margin-top: 56px !important;
  }

  // address fields
  div[data-type="Auto Fit Container"].ft--e239--root,
  div[data-type="Auto Fit Container"].ft--e241--root {
    grid-column: span 2;

    @media (max-width: 450px) {
      grid-column: auto;
    }
  }

  #e234,
  #e239,
  #e241 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;

    div[data-type="Paragraph"] {
      grid-column: span 5;
      margin: 0;

      div {
        font-weight: 600;
        color: #102a43 !important;
        font-size: 0.833rem !important;
      }
    }

    > div[data-type="Input Fields"] {
      &:nth-of-type(3) {
        grid-column: span 5;
      }

      &:nth-of-type(5) {
        grid-column: 1 / 3;
      }

      &:nth-of-type(7) {
        grid-column: 3 / 5;
      }

      &:nth-of-type(9) {
        grid-column: 5 / 6;
      }
    }
  }
}
