#patient-referral {

  #e70, #e37, #e47, #e20 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;

    @media (max-width: 768px) {
      display: flex !important;
      flex-direction: column !important;

      div[data-type="Button"] {
        width: 100% !important;
      }
    }
  }

  //address state and zip code on same line
  #e70 {
    @media (max-width: 768px) {}
      > div[data-type="Input Fields"] {
        &:nth-of-type(13), &:nth-of-type(14) {
          grid-template-columns: 1fr 1fr;
        }
      }
  }

  //paragraph grid
  div[data-type="Paragraph"], div[data-type="Subhead"] {
    grid-column: span 2;
    margin: 0;

    div {
      font-weight: 600;
      color: #102a43 !important;
      font-size: 0.833rem !important;
    }
  }

  

}
  