div[data-page="63e27e06eed0df7e7d466584"] {
  // resets
  // remove margin top from subheaders
  div[data-type="Subhead"] {
    .ft--theme--Typography--subhead {
      margin-top: 0 !important;
    }
  }

  // containers
  #e18,
  div[data-type="Auto Fit Container"].ft--e208--root,
  div[data-type="Auto Fit Container"].ft--e209--root {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 50px;
  }

  // step 1 fields container
  #e184 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
    // fix weird overflow
    padding-top: 5px !important;

    // registration id field
    .ft--e19--root {
      grid-column: span 2;
    }
  }

  // step 1 button fix
  div[data-type="Button"].ft--theme--Button--primary,
  div[data-type="Button"].ft--theme--Button--primary:active,
  .ftb-resizers.size--fix:active:not(.ft--theme--Section--root):not(
      .ft--theme--Strip--root
    ),
  .ftb-resizers:active:not(.ft--theme--Section--root):not(
      .ft--theme--Strip--root
    ) {
    margin-left: auto !important;
  }
}

// button container
.ft--e233--root {
  grid-column: span 2 !important;
}
