div[data-page="63ebad339df0fc57fce02ca6"] {
  div[data-type="Subhead"] .ft--theme--Typography--subhead {
    margin: 0 !important;
  }

  #e52 {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }

  #e53 .ft--e54--col,
  #e65 .ft--e65--col {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 100px;
  }
}
