#roi-form {
  div.ft--theme--Typography--subhead:not([data-type="Subhead"]) {
    font-size: var(--fontSize__h5) !important;
    margin: 0 0 10px !important;
  }

  #e52 {
    display: flex !important;
    flex-direction: column !important;
    row-gap: 70px !important;
  }

  #e197,
  #e198,
  #e201,
  #e204,
  #e207 {
    display: grid !important;
    grid-template-columns: 1fr 2fr !important;
    column-gap: 100px !important;
  }

  #e193,
  #e199,
  #e202,
  #e205,
  #e208 {
    > div[data-type="Paragraph"]:first-of-type .ft--theme--Typography--p {
      color: #38bec9 !important;
    }
  }

  #e183 {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    column-gap: 10px !important;
  }

  .ft--theme--FormField--checkbox {
    > label:first-of-type {
      margin-bottom: 10px !important;
    }

    div[role="radiogroup"] {
      margin-bottom: 20px !important;
    }
  }

  #e211 {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    column-gap: 10px !important;
    row-gap: 30px !important;

    div[data-type="Auto Fit Container"] {
      grid-column: span 2;
    }
  }

  // address fields
  #e210 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;

    div[data-type="Paragraph"] {
      grid-column: span 5;
      margin: 0;

      div {
        font-weight: 600;
        color: #102a43 !important;
        font-size: 0.833rem !important;
      }
    }

    > div[data-type="Input Fields"] {
      &:nth-of-type(3) {
        grid-column: span 5;
      }

      &:nth-of-type(5) {
        grid-column: 1 / 3;
      }

      &:nth-of-type(7) {
        grid-column: 3 / 5;
      }

      &:nth-of-type(9) {
        grid-column: 5 / 6;
      }
    }
  }

  #e156 {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    column-gap: 10px !important;
    row-gap: 30px !important;
    margin-bottom: 50px !important;
    align-items: end;
  }

  #e214,
  #e216 {
    display: flex;
    justify-content: space-between;

    > div[data-type="Button"]:last-of-type {
      margin-left: auto !important;
    }
  }
}
