div[data-page="63ebad339df0fc57fce02ca6"] {
  div.ft--theme--Typography--subhead:not([data-type="Subhead"]) {
    font-size: var(--fontSize__h5) !important;
    margin: 0 0 10px !important;
  }

  #e52 {
    display: flex !important;
    flex-direction: column !important;
    row-gap: 50px !important;
  }

  #e197,
  #e198,
  #e201,
  #e204,
  #e207 {
    display: grid !important;
    grid-template-columns: 1fr 2fr !important;
    column-gap: 100px !important;
  }

  #e193,
  #e199,
  #e202,
  #e205,
  #e208 {
    > div[data-type="Paragraph"]:first-of-type .ft--theme--Typography--p {
      color: #38bec9 !important;
    }
  }

  #e183 {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    column-gap: 10px !important;
  }

  .ft--theme--FormField--checkbox {
    > label:first-of-type {
      margin-bottom: 10px !important;
    }

    div[role="radiogroup"] {
      margin-bottom: 20px !important;
    }
  }
}
