div[data-page="63f8d1959230963378529a45"] {
  #e18 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 10px;

    @media (max-width: 700px) {
      grid-template-columns: 1fr;
    }
  }
}
