div[data-page="63d40c71d124b4071f4af0ba"] {
  // fix titan mobile crap
  @media (max-width: 991px) {
    #s1,
    .ft--dir--row {
      max-width: 100% !important;
    }
  }

  // hide validation borders
  .ft--theme--FormField--text > div,
  .ft--theme--FormField--text > div,
  .ft--theme--FormField--select label + div,
  .ft--theme--FormField--date .ft--theme--FormField-elRoot {
    &:before,
    &:after {
      display: none !important;
    }
  }

  // put all radios (insurance type) and paragraphs on own line
  .ft--theme--FormField--radio,
  div[data-type="Paragraph"] {
    grid-column: span 2;

    @media (max-width: 500px) {
      grid-column: auto;
    }
  }

  // top section
  div#e10 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }

  // primary insurance
  div#e36 {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }

    div[data-type="Heading"],
    div[data-type="Subhead"] {
      grid-column: span 2;

      @media (max-width: 500px) {
        grid-column: auto;
      }
    }
  }

  // secondary insurance
  div#e45 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    position: relative;
    padding: 0 3rem 3rem !important;
    margin: 2rem auto;
    border-radius: 10px;
    border: 1px solid #e3eaf1;

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }

    div[data-type="Heading"],
    div[data-type="Subhead"] {
      grid-column: span 2;

      @media (max-width: 500px) {
        grid-column: auto;
      }
    }
  }

  // tertiary insurance
  div#e55 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    position: relative;
    padding: 0 3rem 3rem !important;
    margin: 2rem auto;
    border-radius: 10px;
    border: 1px solid #e3eaf1;

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }

    div[data-type="Heading"],
    div[data-type="Subhead"] {
      grid-column: span 2;

      @media (max-width: 500px) {
        grid-column: auto;
      }
    }
  }

  // button group
  div[data-row="row86"] {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 5px;
    margin-top: 2rem !important;

    @media (max-width: 500px) {
      justify-content: center;
      flex-direction: column;
    }

    .ft--pos--e101 {
      margin-left: auto !important;
    }
  }

  // delete buttons for additional forms
  div#e113,
  div#e114 {
    position: absolute !important;
    top: 95px;
    right: 34px;

    @media (max-width: 991px) {
      top: 80px;
    }

    @media (max-width: 500px) {
      top: 16px;
      right: 10px;
      height: 32px;
      width: 32px;
      background: var(--color__secondary-red--100);
      border-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        background: var(--color__secondary-red--200);
      }
    }

    svg {
      height: 32px;
      width: 32px;
      cursor: pointer;

      path {
        fill: var(--color__secondary-red--200) !important;
      }

      &:hover {
        path {
          fill: var(--color__secondary-red--500) !important;
        }
      }

      @media (max-width: 500px) {
        height: 16px;
        width: 16px;

        path {
          fill: var(--color__secondary-red--500) !important;
        }
      }
    }
  }
}
