div[data-page="63d40c71d124b4071f4af0ba"] {
  // put all radios (insurance type) and paragraphs on own line
  .ft--theme--FormField--radio,
  div[data-type="Paragraph"] {
    grid-column: span 2;
  }

  // top section
  div#e10 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  // primary insurance
  div#e36 {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    div[data-type="Heading"],
    div[data-type="Subhead"] {
      grid-column: span 2;
    }
  }

  // secondary insurance
  div#e45 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    div[data-type="Heading"],
    div[data-type="Subhead"] {
      grid-column: span 2;
    }
  }

  // tertiary insurance
  div#e55 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    div[data-type="Heading"],
    div[data-type="Subhead"] {
      grid-column: span 2;
    }
  }
}
