#verify-secondary-ins-form {
  #e18,
  #e15 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 40px;

    @media (max-width: 700px) {
      grid-template-columns: 1fr;
    }

    div[data-type="Subhead"] {
      grid-column: span 2;

      @media (max-width: 700px) {
        grid-column: span 1;
      }
    }
  }

  // subheads
  #e19,
  #e20 {
    margin: 0 !important;
    font-size: 21px !important;
  }

  // button
  #e11 {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 700px) {
      justify-content: initial;

      div[data-type="Button"] {
        width: 100% !important;
      }
    }
  }
}
